{% extends 'base.html' %}
{% block title %} GESAM-Beliefs {% endblock %}
{% load static %}

{% block content %}
    <div style="height: 113px;"></div>
    <div class="slide-one-item home-slider owl-carousel">
      

      <div class="site-blocks-cover" style="background-image: url({% static 'images/pexels1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1>Our Beliefs</h1>
            </div>
          </div>
        </div>
      </div> 
    </div>
    
      <div class="site-block-half d-flex">
        <div class="image bg-image order-2" style="background-image: url('/static/images/alum.jpg');"></div>
        <div class="text">
          <div class="section-heading text-left">
            <h2 class="mb-5">Belief #1</h2>
            <p><b>God exists.</b>

One cannot be a Christian if he or she doesn’t first believe in an invisible power that created everything (Genesis 1:1; 2:4). It is foundational that a true Christian will believe in a Supreme Being of superior power and intellect.</p>
            <p><a href="#" class="text-uppercase">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
      <div class="site-block-half d-flex">
        <div class="image bg-image" style="background-image: url({% static 'images/jey.jpg' %});"></div>
        <div class="text">
          <div class="section-heading text-left">
            <h2 class="mb-5">Belief #2</h2>
            <p><b>Faith and works are required by God.</b>

Ever notice how some Christians say they believe they are “saved” and then proceed to live a life that is anything but Christian? Many Christians believe, contrary to the Bible, that God requires only faith without anything to back up that faith. True Christians, however, do not look at James as a “book of straw.” They understand that salvation is a gift of the grace of God, but they also look carefully to the biblical instruction that joins faith and good works. James 2:18 explains that we show our faith by our works: “But someone will say, ‘You have faith, and I have works.’ Show me your faith without your works, and I will show you my faith by my works.</p>
            <p><a href="#" class="text-uppercase">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
      <div class="site-block-half d-flex">
        <div class="image bg-image order-2" style="background-image: url({% static 'images/hilase.jpg' %});"></div>
        <div class="text">
          <div class="section-heading text-left">
            <h2 class="mb-5">Belief #3</h2>
            <p><b>Christ died for the sins of all humanity and was raised to eternal life.</b>

“Behold! The Lamb of God who takes away the sin of the world!” (John 1:29). This statement from John the Baptist sums up the Christian belief that Christ sacrificed Himself so that every human being may be forgiven his or her sins (Hebrews 9:28). Jesus also had to be raised to life again after His death or we would still be in our sins (1 Corinthians 15:17).</p>
            <p><a href="#" class="text-uppercase">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>

    <div class="site-section block-14">

      <div class="container">
        
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2>Testimonies</h2>
          </div>
        </div>

        <div class="nonloop-block-14 owl-carousel">
          
          <div class="p-4">
            <div class="d-flex block-testimony">
              <div class="person mr-3">
                <img src="{% static 'images/carthy.jpg' %}" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div>
                <h2 class="h5">Carthy Bansah</h2>
                <blockquote>&ldquo;Thanks be to Thee O Lord!

I would like to tell everyone that God has answered all my prayer requests. I used to just keep meditating on this verse "Delight yourself in the Lord and He will give you the desires of your heart" Psalm 37:4. And He has given me!&rdquo;</blockquote>
              </div>
            </div>
          </div>
          <div class="p-4">
            <div class="d-flex block-testimony">
              <div class="person mr-3">
                <img src="{% static 'images/annjoyce.jpg' %}" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div>
                <h2 class="h5">Joyce, Annette, Justine</h2>
                <blockquote>&ldquo;We are so thankful and full of praise. God answered our prayer from the request we posted!

Praise God Don’t give up on your faith. God is able.

Thank you for praying for us!!&rdquo;</blockquote>
              </div>
            </div>
          </div>
          <div class="p-4">
            <div class="d-flex block-testimony">
              <div class="person mr-3">
                <img src="{% static 'images/annie.jpg' %}" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div>
                <h2 class="h5">Annie Sokoto</h2>
                <blockquote>&ldquo;Praise God I am more than glad to write this to the whole world about the goodness of our Lord. 

I have been fasting and praying for a breakthrough for a better job, and yes indeed, He answered my prayer. 

Currently, I am working with an international NGO in the country, praise the Lord. 

There is power in praying and fasting; you only need to believe and let the will of God take control of your situation.

I am believing God for a God fearing man to start a family. Please pray with me, be blessed Amen.!&rdquo;</blockquote>
              </div>
            </div>
          </div>
          <div class="p-4">
            <div class="d-flex block-testimony">
              <div class="person mr-3">
                <img src="{% static 'images/kishpray.jpg' %}" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div>
                <h2 class="h5">Kish Kofi Poet</h2>
                <blockquote>&ldquo;I had been praying to God for a week or so to ask him to keep me up in the light with him as I felt I seem to be around darkness too much.  I asked for him to lift me up into the light.  Last night I was falling back off to sleep, and I felt my spirit traveling or ascending upwards, and I was passing a lot of bright white light and just felt right and at peace. I always want to be closer to God.

!&rdquo;</blockquote>
              </div>
            </div>
          </div>

        </div>

      </div>
      
    </div>

{% endblock %}

