{% extends 'base.html'%}
{% block title %} GESAM-Home {% endblock %}
{% load static %}

{% block content%}
    <div style="height: 113px;"></div>
    <div class="slide-one-item home-slider owl-carousel">
      <div class="site-blocks-cover" style="background-image: url({% static 'images/secs.jpg' %}); width: 100%; height: 100%" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
            </div>
          </div>
        </div>
      </div>
      <div class="site-blocks-cover" style="background-image: url({% static 'images/presidency.jpg' %})" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1><strong></strong></h1>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Sunday's Sermon</h2>
            <p>John 1:1 KJV In the beginning was the Word, and the Word was with God, and the Word was God.

The word of God is a compendium of the mysteries of God. In the Gospel of John , the "Word" is referred to as Logos in the Greek; which is translated as the words of a man, the thoughts of a man and has an extension of it also referred to as the mindset of a man..</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center mb-3">
            <h3 class="h5"><span class="text-uppercase">&ldquo;The Mystery of Times and Seasons &rdquo;</span> &mdash; <span class="small"><em>by</em> Prof Wiseborn Wisdom</span></h3>
          </div>
          <div class="col-12">
            <div class="player">
                <audio id="player2" preload="none" controls style="max-width: fit-content">
                    <source src= "{% static 'media/song.mp3' %}" type="audio/mp3">
                </audio>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mb-5 mb-md-0">
            
              <div class="img-border">
                <a href="#" class="popup-vimeo image-play">
                  <span class="icon-wrap">
                    <span class="icon icon-play"></span>
                  </span>
                  <img src="{% static 'images/group.jpg' %}" alt="" class="img-fluid"/>
                </a>
              </div>
          </div>

          <div class="col-md-5 ml-auto">
            <h2 class="h2 mb-3">About Our Church</h2>
            <p class="h5 mb-3">We are a campus denomination!!</p>
            <p class="mb-4">..</p>
            <p><a href="" class="popup-vimeo text-uppercase">Watch Video <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section site-block-feature bg-light">
      <div class="container">
        <div class="d-block d-md-flex border-bottom">
          <div class="text-center p-4 item border-right">
            <span class="flaticon-chat-1 display-3 mb-3 d-block text-primary"></span>
            <h2 class="h5 text-uppercase">Our Mission</h2>
            <p>Our mission is to preach Christ to all ends of the earth</p>
            <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
          <div class="text-center p-4 item">
            <span class="flaticon-chat display-3 mb-3 d-block text-primary"></span>
            <h2 class="h5 text-uppercase">Testimonies</h2>
            <p>```Give me another chance and I will  choose this Family again and again and again.

Thank you all for your well wishes, gifts, love and words of blessings.

In many folds, may God continue to bless you for making my stay on campus a blessing.

Akpe kaka.</p>
            <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
        <div class="d-block d-md-flex">
          <div class="text-center p-4 item border-right">
            <span class="flaticon-musical-note display-3 mb-3 d-block text-primary"></span>
            <h2 class="h5 text-uppercase">Listen To Our Sermons</h2>
            <p>Listen to our Sermons on various topics and you will be blessed. </p>
            <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
          <div class="text-center p-4 item">
            <span class="flaticon-paper-plane display-3 mb-3 d-block text-primary"></span>
            <h2 class="h5 text-uppercase">Join Our Church</h2>
            <p>Join us today and experience the overwhelming love of our saviour, Jesus Christ. see below for meeting times.</p>
            <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
    </div>

    


    <div class="site-section block-15">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2>Recent Events</h2>
          </div>
        </div>


        <div class="nonloop-block-15 owl-carousel">
          

            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="{% static 'images/mirabible.jpg' %}" alt="badge" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Church Bible Study</a></h2>
              <span class="mb-3 d-block post-date">August 3, 2020 &bullet; By <a href="#">Carthy Bansah</a></span>
              <p> Hebrews 11:33-34
By faith these people… 34 quenched the flames of fire, and escaped death by the edge of the sword. Their weakness was turned to strength. They became strong in battle and put whole armies to flight. NLT

I escape every flame of fire and death in the name of Jesus. I declare that I will not die before my time in the name of Jesus. I am full of life and I will live and declare the good works of the Lord in my life in the name of Jesus.</p>
            </div>
          
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href= "#" class="popup-vimeo image-play">
                  <img src="{% static 'images/firstservice.jpg' %}" alt="firstservice" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Evangelism</a></h2>
              <span class="mb-3 d-block post-date">July 20, 2020 &bullet; By <a href="#">Hilaria</a></span>
              <p>Christians who specialize in evangelism are often known as evangelists, whether they are in their home communities or living as missionaries in the field, although some Christian traditions refer to such people as missionaries in either case. Some Christian traditions consider evangelists to be in a leadership position; they may be found preaching to large meetings or in governance roles.</p>
            </div>
          
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="{% static 'images/congressconference.jpg' %}" alt="congress" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Congress Conference</a></h2>
              <span class="mb-3 d-block post-date">December 30, 2019 &bullet; By <a href="#">Gesam National President</a></span>
              <p>This year had a very inspiring and spirit led conference. I pray you will continue to walk in the spirit. Thank you all for making it to Congress Conference Conference 2020! Ayekoo!!!</p>
            </div>

            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play"><img src="{% static 'images/peter.jpg'%}" alt="hand.jpg" class="img-fluid"></a>
              </div>
              <h2 class="heading mb-0"><a href="#">Handz Up, May 2020</a></h2>
              <span class="mb-3 d-block post-date">May 3, 2020 &bullet; By <a href="#">Kenneth Evg</a></span>
              <p>Thank you for making Handz Up a suceess. God bless you!!.</p>
            </div>
          
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play"><img src="{% static 'images/girlpray.jpg' %}" alt="sing.jpg" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Learn How To Pray</a></h2>
              <span class="mb-3 d-block post-date">August 2, 2020 &bullet; By <a href="#">Danny Ocloo</a></span>
              <p>Philippians 4:6-7
Be anxious for nothing, but in everything by prayer and supplication, with thanksgiving, let your requests be made known to God; 7 and the peace of God, which surpasses all understanding, will guard your hearts and minds through Christ Jesus. NKJV

I receive the grace to always be at peace in the name of Jesus. May I never be anxious about anything. Rather, I receive the grace to look👀 unto Jesus, the author and perfecter of my faith. Glory!

I will learn to pray about everything instead of being worried about the things that trouble me. I receive the spirit of grace and supplication to pray intensely in the name of…</p>
            </div>
          
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play"><img src="{% static 'images/repyourschool.jpg' %}" alt="repyourschool" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Rep Your School</a></h2>
              <span class="mb-3 d-block post-date">July 20, 2020 &bullet; By <a href="#">Emefa</a></span>
              <p>Showcase your school if you are proud of it.</p>
            </div>
            
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play"><img src="{% static 'images/handzup_preview.jpg' %}" alt="handzup_preview.jpg" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Kokemus Teaser</a></h2>
              <span class="mb-3 d-block post-date">Febraury 15, 2020 &bullet; By <a href="#">Annette Biscuit</a></span>
              <p>This program is just a thriller of the real program to happen in May. Have a feel of it and expect more from us next month! Kokemus! </p>
            </div>
          
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="{% static 'images/handzup.jpg' %}" alt="hhh" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Handz Up 2020</a></h2>
              <span class="mb-3 d-block post-date">May, 2020 &bullet; By <a href="#">Kenneth Evg</a></span>
              <p>Thank you for making Handz Up a suceess. God bless you!!</p>
            </div>
          
            <div class="media-with-text">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="{% static 'images/welcomback.jpg' %}" alt="welcomeback" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Welcome Back to School</a></h2>
              <span class="mb-3 d-block post-date">September 8, 2020 &bullet; By <a href="#">Perez Semeh, President</a></span>
              <p>Gesam-Legon welcomes you all back to school. We wish you all the best in the academic semester.</p>
            </div>
        </div>
        <div class="row">
        </div>
      </div>
    </div>

{% endblock %}