{% extends 'base.html'%}
{% load static %}

{% block content%}
    <div style="height: 113px;"></div>
    <div class="slide-one-item home-slider owl-carousel">
      
      

      <div class="site-blocks-cover" style="background-image: url(' /static/images/hero_bg_2.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1>Our Sermons</h1>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h3 class="h5"><span class="text-uppercase">&ldquo;Prayer and Declarations&rdquo;</span> &mdash; <span class="small"><em>by</em> President Hilaria</span></h3>
          </div>
          <div class="col-12">
            <div class="player">
                <audio id="player2" preload="none" controls style="max-width: 100%">
                    <source src="song.mp3" type="audio/mp3">
                </audio>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h3 class="h5"><span class="text-uppercase">&ldquo;Faith and Hope&rdquo;</span> &mdash; <span class="small"><em>by</em> Veep Roberta</span></h3>
          </div>
          <div class="col-12">
            <div class="player">
                <audio id="player2" preload="none" controls style="max-width: 100%">
                    <source src="song.mp3" type="audio/mp3">
                </audio>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h3 class="h5"><span class="text-uppercase">&ldquo;The cross: Our commitment&rdquo;</span> &mdash; <span class="small"><em>by</em> Evangelist Kenneth</span></h3>
          </div>
          <div class="col-12">
            <div class="player">
                <audio id="player2" preload="none" controls style="max-width: 100%">
                    <source src="" type="audio/mp3">
                </audio>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h3 class="h5"><span class="text-uppercase">&ldquo;Mystery of Mercy and Favour&rdquo;</span> &mdash; <span class="small"><em>by</em> Prof Wiseborn Wisdom</span></h3>
          </div>
          <div class="col-12">
            <div class="player">
                <audio id="player2" preload="none" controls style="max-width: 100%">
                    <source src="" type="audio/mp3">
                </audio>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2>More Sermons</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 media-with-text">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="{% static 'images/ladycandle.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Church Bible Study</a></h2>
            <span class="mb-3 d-block post-date">August 3, 2020 &bullet; By <a href="#">Carthy Bansah</a></span>
            <p>Hebrews 11:33-34
By faith these people… 34 quenched the flames of fire, and escaped death by the edge of the sword. Their weakness was turned to strength. They became strong in battle and put whole armies to flight. NLT

I escape every flame of fire and death in the name of Jesus. I declare that I will not die before my time in the name of Jesus. I am full of life and I will live and declare the good works of the Lord in my life in the name of Jesus</p>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 media-with-text">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="{% static 'images/legongirl.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Evangelism</a></h2>
            <span class="mb-3 d-block post-date">July 20, 2020 &bullet; By <a href="#">Evg Kenneth</a></span>
            <p>Christians who specialize in evangelism are often known as evangelists, whether they are in their home communities or living as missionaries in the field, although some Christian traditions refer to such people as missionaries in either case. Some Christian traditions consider evangelists to be in a leadership position; they may be found preaching to large meetings or in governance roles.</p>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 media-with-text">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="{% static 'images/akan.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Learn How To Pray</a></h2>
            <span class="mb-3 d-block post-date">August 2, 2020 &bullet; By <a href="#">Danny Ocloo</a></span>
            <p>Philippians 4:6-7
Be anxious for nothing, but in everything by prayer and supplication, with thanksgiving, let your requests be made known to God; 7 and the peace of God, which surpasses all understanding, will guard your hearts and minds through Christ Jesus. NKJV

I receive the grace to always be at peace in the name of Jesus. May I never be anxious about anything. Rather, I receive the grace to look👀 unto Jesus, the author and perfecter of my faith. Glory!

I will learn to pray about everything instead of being worried about the things that trouble me. I receive the spirit of grace and supplication to pray intensely in the name of…</p>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}